<div class="middle-box text-center loginscreen">
    <div>
        <div>
            <h1 class="logo-name">EF+</h1>
        </div>
        <h3>Bienvenido a eFintech</h3>
        <p>Inicie Sessión.</p>
        <form name="loginForm" #form="ngForm" class="m-t" role="form" (ngSubmit)="postLogin()">
            <p class="text-danger">{{LoginError}}</p>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Nombre de usuario" 
                    [formControl]="LoginForm.controls['Username']" [(ngModel)]="Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" placeholder="Contraseña"
                    [formControl]="LoginForm.controls['Password']" [(ngModel)]="Password">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b" [disabled]="!LoginForm.valid">Login</button>
        </form>
    </div>
</div>
